body{
    font-family: 'Big Shoulders Display', cursive;
    margin-top: 8%;
    font-size: 15px;
}
h2{
    font-weight: 700;
    margin: 30px;
    font-size: 35px;
}
p{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    padding: 25px;
}
.container{
    margin: 0 auto;
    width: 60%;
}
.flex{
    display: flex;
    flex-wrap: nowrap;

}
.text-center{
    text-align:initial;
}
.columna-uno{
    background: hsl(31, 77%, 52%);
    color: hsla(0, 0%, 100%, 0.75);
    border: 1px solid hsl(31, 77%, 52%);
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888;
    width: 33%;
    box-sizing:content-box;
     
}
.columna-dos{
    background: hsl(184, 100%, 22%);
    color: hsla(0, 0%, 100%, 0.75);
    border: 1px solid hsl(184, 100%, 22%);
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888;
    width: 33%;
    box-sizing: content-box;
     
}
.columna-tres{
    background: hsl(179, 100%, 13%);
    color: hsla(0, 0%, 100%, 0.75);
    border: 1px solid hsl(179, 100%, 13%);
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888;
    width: 33%;
    box-sizing: content-box;
     
}
.imagen{
    margin-top: 25px;
    margin-left: 25px;
}
.btn-learn-more-uno{
    text-decoration: none;
    text-align: center;
    background: #fff;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Lexend Deca', sans-serif;
    color:hsl(31, 77%, 52%);
    margin: 10% 10%;
    
}
.btn-learn-more-uno:hover{
    background: rgba(0,0,0,0);
    color:hsla(0, 0%, 100%, 0.75);
    box-shadow: inset 0 0 0 3px hsla(0, 0%, 100%, 0.75);
}
.btn-learn-more-dos{
    text-decoration: none;
    background: #fff;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Lexend Deca', sans-serif;
    color:hsl(184, 100%, 22%);
    margin: 10% 10%;
}
.btn-learn-more-dos:hover{
    background: rgba(0,0,0,0);
    color:hsla(0, 0%, 100%, 0.75);
    box-shadow: inset 0 0 0 3px hsla(0, 0%, 100%, 0.75);
}
.btn-learn-more-tres{
    text-decoration: none;
    background: #fff;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Lexend Deca', sans-serif;
    color:hsl(179, 100%, 13%);
    margin: 10% 10%;
}
.btn-learn-more-tres:hover{
    background: rgba(0,0,0,0);
    color:hsla(0, 0%, 100%, 0.75);
    box-shadow: inset 0 0 0 3px hsla(0, 0%, 100%, 0.75);
}

@media (max-width: 750px){
    .container{
        width: 50%;
        flex-direction: column;
        margin: 0 auto;
    }
    .columna-uno{
        width: 80%;
    }
    .columna-dos{
        width: 80%;
    }
    .columna-tres{
        width: 80%;
    }
}

@media (max-width: 375px){
    .container{
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
    }
    .columna-uno{
        width: 80%;
    }
    .columna-dos{
        width: 80%;
    }
    .columna-tres{
        width: 80%;
    }
}